body{

    display:flex;
    margin-left: 300px;
    margin-top: 100px;
    background-color:rgb(249, 249, 232);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

    
}
h3{
    display: inline-block;
    color: darkgray;
    text-align: center;
    margin-top: -115px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
h2{
    display: inline-block;
    color: darkgray;
    text-align: left;
    margin-left: 20px;
    margin-top: -5px;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    display: inline-block;
    color: black;
    margin-top: -15px;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif

}
h1 h2 h3 h5 { 
    
    display: inline-block;
    justify-content: center;
    list-style-type: none;
    align-items: left;
    text-align: right;
 
    
    
}
h5{
    display: inline-block;
    color: darkgray;
    text-align: left;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-decoration: line-through;
    

}
h4{
    color: white;
    margin-top: 3px;
    margin-block-end: 10px;
    text-align: center;
}

img{
    
    display: inline-block;
    width: 370px;
    height: 450px;
    border-top-left-radius: 15px;
    border-end-start-radius: 15px;


}
.center{

    text-align: center;
    display: flex;
    padding: 100px;
}
.texto{
    float: left;
    background-color: white;
    border-top-right-radius: 15px;
    border-end-end-radius: 15px;
}
.btn{
    padding: 5px 3px;
    width:  100px;
    height: 20px;
    color:white;
    margin-left: 80px;
    margin-top: -5px;
    background-color: rgb(104, 156, 104);
    border: 1px solid green;
    border-radius: 5px ;
    user-select: none;
    cursor: pointer;
    transition:2s;


}
.btn:hover{
    background-color: rgb(5, 49, 5);

}

